.seat{
    background-color: green;
    height: 30px;
    width:35px;
    margin:3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.seat:nth-of-type(5n){
    margin-right: 20px;
}

.seat.selected{
    background-color: blue;

}
.seat.occupied{
    background-color: black;
    
}
.screen{
    background-color:silver;
    height:120px;
    width:100%;
    margin: 15px -15px;
    transform:perspective(600px) rotateX(-100deg);
    border-radius: 50% 50% 0 0;
    border-top-left-radius: 50% 50px; 
    border-top-right-radius: 50% 50px; 
    
}
.seats{
    width: 450px;
     margin-top:  80px;
     margin-left: 30px;
}